name: Passes Tests and Linting

on:
  pull_request:
    branches: [main]
    types: [opened] 
  workflow_dispatch:

concurrency:
  group: pr-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      DOTENV_BLOB: ${{ secrets.CI_DOT_ENV_FILE }}
      WHICH_DATABASE: MAIN_READ_REPLICA_DATABASE_URL
      WHICH_ALCHEMY_URL: AUTOPOOL_DASHBOARD_CI_ALCHEMY_URL

    steps:
      - uses: actions/checkout@v4

      - name: Setup Poetry env and install dependencies
        uses: ./.github/actions/setup_env

      - name: Create .env from DOTENV_BLOB and append WHICH_* vars
        uses: ./.github/actions/create_dot_env_blob
        
      - name: poetry run linter
        run: poetry run black --diff --check .

      - name: poetry run pytest
        run: poetry run pytest
      
      - name: Post Slack Status Message
        if: ${{ always() }}
        uses: ./.github/actions/post_github_actions_status
