name: Update Production Database

on:
  schedule:
    - cron: "0 3 * * *" # Daily at 3am UTC (eg 7pm or 8pm PST)

  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      DOTENV_BLOB: ${{ secrets.CI_DOT_ENV_FILE }}
      WHICH_DATABASE: MAIN_DATABASE_URL
      WHICH_ALCHEMY_URL: AUTOPOOL_DASHBOARD_CI_ALCHEMY_URL

    steps:
      - uses: actions/checkout@v4

      - name: Setup Poetry env and install dependencies
        uses: ./.github/actions/setup_env

      - name: Create .env from DOTENV_BLOB and append WHICH_* vars
        uses: ./.github/actions/create_dot_env_blob
        
      - name: poetry run update-prod-db
        run: poetry run slow-update-prod-db 

      - name: poetry run pytest (90 days)
        run: poetry run pytest

      - name: poetry run pytest (all time)
        run: poetry run pytest --only-render-recent-data=false

      - name: Is today Sunday? (UTC)
        id: is_sunday
        shell: bash
        run: |
          # date +%u => 1=Mon ... 7=Sun
          if [ "$(date -u +%u)" = "7" ]; then
            echo "value=true" >> "$GITHUB_OUTPUT"
          else
            echo "value=false" >> "$GITHUB_OUTPUT"
          fi


      - name: Post Informational Slack Messages
        if: ${{ always() }}
        run: poetry run post-daily-slack-messages

      - name: Post Weekly Slack Messages
        if: ${{ steps.is_sunday.outputs.value == 'true' && always() }}
        run: poetry run post-weekly-slack-messages

      - name: Post Slack Status Message
        if: ${{ always() }}
        uses: ./.github/actions/post_github_actions_status